body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('imagenes/8088488.jpg');
    background-size:cover ;
    background-attachment: fixed;
    overflow: hidden;
}

.cuadrado {
    width: 100px;
    height: 100px;
    background-color: rgb(247, 0, 255);
    position: absolute;
    animation: movimiento 3s infinite ease-in-out;
    box-shadow: 0 0 20px rgb(255, 255, 255);
}
.cuadrado2{
    width: 50px;
    height: 50px;
    background-color: rgb(255, 191, 0);
    position: absolute;
    animation: movimiento 5s infinite ease-in-out;
    box-shadow: 0 0 20px rgb(255, 255, 255);

}


.cuadrado:hover {
    transform: scale(2.5); 
    box-shadow: 0 0 40px rgb(254, 254, 254); 
}

@keyframes movimiento {
    2% {
        transform: translateX(0) translateY(-100px) scale(1);
        background-color: rgb(25, 221, 251);
    }
    55% {
        transform: translateX(100px) translateY(50px) scale(1.2);
        background-color: rgb(13, 97, 243);
        animation-timing-function: ease-in; 
    }
    90% {
        transform: translateX(300px) translateY(0) scale(1.2);
        background-color: rgb(4, 12, 113);
        animation-timing-function: linear; 
    }
    100% {
        transform: translateX(0) translateY(200px) scale(1);
        background-color: rgb(0, 0, 0);
    }
   
}
